{% extends "base.html" %}

{% block style %}
    <style>
        .email-sent-wrapper{
            height:90vh;
            height: calc(var(--vh, 1vh) * 90);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.5rem;
        }

        .email-sent-box{
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap:2rem;
            background-color: var(--white);
            box-shadow: var(--ds3);
            border-radius:0.8rem;
        }
        h2{
            text-align: center;
            font-family: Poppins;
            font-size:1.8rem;
        }
        .inner-box{
            padding: 1rem;
            border: 0.1rem solid var(--primary);
            border-radius:0.4rem;
        }
        p{
            font-family: Roboto;
            font-size:1.4rem;
        }
        span{
            font-family: Roboto;
            font-size:1.4rem;
            font-weight: 600;
            color: var(--primary);
        }
    </style>
{% endblock style %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
<div class="email-sent-wrapper">
    <div class="email-sent-box">
        <h2>We've sent you an email!</h2>
        <div class="inner-box">
            <p><span>Please check your inbox. </span>If you don't receive an email, make sure you've entered the right email address and check your spam folder.</p>
        </div>
    </div>
</div>

{% endblock content %}