{% extends "base.html" %}

{% block style %}
<style>
    .password-change-complete-wrapper {
        height:90vh;
        height: calc(var(--vh, 1vh) * 90);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2.5rem;
    }
    .password-change-complete-box{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap:2rem;
        background-color: rgba(0,218,22,0.05);
        border: 0.1rem solid var(--star5);
        border-radius: 0.4rem;
        box-shadow: var(--ds3);
    }
    h2{
        text-align: center;
        font-family: Poppins;
        font-size:1.8rem;
        color: var(--star5);
    }
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        text-align:center;
    }
    a{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        color: var(--blue);
    }
</style>
{% endblock style %}

{% block title %}Password updated{% endblock title %}

{% block content %}

    <div class="password-change-complete-wrapper">
        <div class="password-change-complete-box">
            <h2>Password updated successfully</h2>
            <p>Your password has been updated successfully. <a href="{% url 'home' %}">Return to home</a></p>
        </div>
    </div>

{% endblock content %}