{% autoescape off %}

<style>
    *{
        font-family: 'Poppins', sans-serif;
        font-size:62.5%;
    }
</style>
To initiate the password reset process for your Account {{ user.email }},
click the link below:

<b>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</b>

<p><font style="color:grey;">If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.</font></p>

Sincerely,
The Homelisc Family
{% endautoescape %}