/* HOmePage 1 CSS */


.homepage-one{
    background-color: var(--accent);
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(11,1fr);
    height:90vh;
    height: calc(var(--vh, 1vh) * 90);
    justify-items: center;
    /* margin-bottom: 60px; */
    padding:2.5rem;
    /* min-height: 600px; */
}

.logo{
    grid-column: 1/13;
    grid-row: 3/10;
    width:auto;
    height:auto;
}

.tagline{
    grid-column:2/12;
    grid-row:9/11;
    font-size: 2.0rem;
    line-height: 2.3rem;
    text-align: center;
    align-self: center;
}

.down-arrow{
    grid-column:6/8;
    grid-row:11/12;
    align-self: center;
}

.down-arrow svg{
    animation: MoveUpDown 1s linear infinite;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }



/* HomePage 2 CSS */

.homepage-two{
    height:auto;
    padding:2.5rem .0rem 2.5rem 2.5rem;
}

.top-cuisines-title{
    grid-column:1/13;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight:bold;
    justify-self:start;
}

.top-cuisines-frame{
    padding-top: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:25%;
    grid-template-rows: repeat(2,1fr);
    overflow-x: scroll;
    gap: 2rem;
    white-space: nowrap;
}

.top-cuisines{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;
}

.top-cuisines-image{
    background-color: var(--black);
    border-radius:10.0rem;
    width:7.0rem;
    height:7.0rem;
    box-shadow: var(--ds_cuisine);
}

.top-cuisines-image>img{
    border-radius: 50%;
    object-fit: cover;
}

.top-cuisines-descr{
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
}

.best-picks-title{
    margin-top: 5rem;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
}

.best-picks-frame{
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding-right: 2.5rem;
}

.theme-day-title{
    margin-top: 5rem;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
}

.top-places-title{
    margin-top: 5rem;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
}

.top-places-frame{
    margin-top:2rem;
    padding: .0rem 2.5rem 1rem .0rem;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    gap:2.0rem;
    /* padding-bottom: 6.0rem; */
    padding-left: 0rem;;
}


.lower-nav-ul{
    background-color: var(--accent);
    /* z-index: 2; */
}

.lower-nav-ul li,.lowernav-ul-p{
    color:var(--white);
}

.lowernav-home-svg{
    stroke:var(--primary);
}

.lowernav-home-svg:hover{
    fill:var(--primary);
    stroke:var(--primary);
}

.lower-nav-ul.scrolled{
    background-color: var(--neutral);
    transition: background-color 200ms linear;
}

.lowernav-ul-p.scrolled{
    color:var(--primary);
}

.lowernav-home-svg.scrolled{
    stroke: var(--icon-grey);
    transition: stroke 200ms linear;    
}

.lowernav-home-svg.scrolled:hover{
    stroke: var(--primary);
    fill: var(--primary);
    filter: drop-shadow(var(--ds_nav__active));
}

/* Active State Code */

#home p.lowernav-ul-p__hide{
  display:block;
  text-align: center;
  font-family: Poppins;
  font-size:1.2rem; 
  color:var(--primary);   
}

#home p.lowernav-ul-p__hide.scrolled{
    color:var(--primary);
}

#home svg.lowernav-home-svg{
    fill:var(--primary);
    stroke:var(--primary);
}

#home svg.lowernav-home-svg.scrolled{
    stroke: var(--primary);
    fill: var(--primary);
    filter: drop-shadow(var(--ds_nav__active));
}

/* For Vector Fill of Search Icon */

#search svg.lowernav-home-svg path{
    fill:var(--primary);
}

#search svg.lowernav-home-svg.scrolled path{
    fill: var(--icon-grey);
}

/* Product */

.product-card-heart{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius:2.6rem;
    background-color: var(--white);
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.product-card{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    background: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    height: 21.5rem;
    padding: 1rem;
    align-items: center;
    box-shadow: var(--ds_prod_card);
}

.product-card>a{
    grid-row: 1/5;
    height: 95%;
    width: 100%;
}

.product-card img{
    grid-row: 1/5;
    border-radius: 4px;
    background: var(--black);
    height: 95%;
    max-height: -webkit-fill-available;
    object-fit: cover;
    width: 100%;
}

.product-card h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
}

.product-card h3{
    grid-row: 6/8;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;    
    color: var(--grey);
}

.product-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-footer div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.product-card-footer p, .product-card-footer h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.product-card-footer h4 {
    content: "₹";
}

/**  Media Queries */

/* Mobile L */
@media screen and (min-width: 425px){
    .best-picks-frame{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .top-cuisines-title{
        text-align: center;
    }

    .best-picks-frame{
        grid-template-columns: repeat(4,1fr);
    }
}

/* Laptop */
@media screen and (min-width: 1024px){
    .top-cuisines-title{
        text-align: center;
    }

    .best-picks-frame{
        grid-template-columns: repeat(4,1fr);
    }
    .homepage-two {
        margin: 0 auto;
        max-width: 80%;
    }
    .product-card{
        height: 30rem;
    }
    .product-card h3{
        font-size: 1.4rem;
    }
}

/* Top Cuisines & Top Places media queries */

/* Mobile L */
@media screen and (min-width: 426px){
    .top-cuisines-frame{
        grid-auto-columns:19%;
    }
    .top-places-frame{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .top-cuisines-title, .best-picks-title, .theme-day-title, .top-places-title{
        text-align: center;
        font-size:2.2rem;
    }

    .top-cuisines-descr{
        font-size: 1.4rem;
    }

    .top-cuisines-frame{
        grid-auto-columns:17%;
    }
    .top-places-frame{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Laptop */
@media screen and (min-width: 1024px){
    .top-cuisines-title, .best-picks-title, .theme-day-title, .top-places-title{
        text-align: center;
        font-size:2.4rem;
    }

    .top-cuisines-descr{
        font-size: 1.4rem;
    }

    .top-cuisines-frame{
        grid-auto-columns:15%;
    }
    .top-places-frame{
        grid-template-columns: repeat(3,1fr);
    }
    .homepage-two{
        margin: 0 auto;
        max-width: 80%
    }
}


/* Old design */
.fav-place-card{
    background-color: var(--white);
    border-radius: 0.8rem;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    box-shadow: var(--ds3);
    display: flex;
    padding: 1rem;
}

.fav-place-card>a{
    width: 30%;
    height:100%;
}

.fav-place-card-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-place-card-img img{
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 0.4rem;
}

.fav-place-card-body{
    width:70%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:.8rem;
}

.favplace-cardbody-top{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.favplace-cardbody-top p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
}

.favplace-cardbody-toprating{
    display: flex;
    align-items: center;
    justify-self: end;
    gap:.5rem;
}

.favplace-cardbody-toprating p{
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.favplace-cardbody-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.favplace-cardbody-bottom p{
    font-family: Roboto;
    font-weight: normal;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--grey);
}

.top-places-card-heart{
    display: flex;
    align-items: center;
    cursor: pointer;
}