/* HOmePage 1 CSS */


.homepage-one{
    background-color: var(--primary);
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(11,1fr);
    height:90vh;
    height: calc(var(--vh, 1vh) * 90);
    justify-items: center;
    /* margin-bottom: 60px; */
    padding:2.5rem;
    /* min-height: 600px; */
}

.logo{
    grid-column:3/11;
    grid-row:4/8;
    width:auto;
    height:auto;
}

.tagline{
    grid-column:2/12;
    grid-row:9/11;
    font-size: 2.0rem;
    line-height: 2.3rem;
    text-align: center;
    align-self: center;
}

.down-arrow{
    grid-column:6/8;
    grid-row:11/12;
    align-self: center;
}

.down-arrow svg{
    animation: MoveUpDown 1s linear infinite;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }



/* HomePage 2 CSS */

.homepage-two{
    height:auto;
    padding:2.5rem .0rem 2.5rem 2.5rem;
}

.top-cuisines-title{
    grid-column:1/13;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight:bold;
    justify-self:start;
}

.top-cuisines-frame{
    margin-top:2.0rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:25%;
    grid-template-rows: repeat(2,1fr);
    overflow-x: scroll;
    gap: 2.8rem;
    white-space: nowrap;
}

.top-cuisines{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;
}

.top-cuisines-image{
    background-color: var(--black);
    border-radius:10.0rem;
    width:7.0rem;
    height:7.0rem;
    box-shadow: var(--ds_cuisine);
}

.top-cuisines-descr{
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
}

.best-picks-title{
    margin-top: 3.5rem;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
}

.best-picks-frame{
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding-right: 2.5rem;
}

.best-pick-card{
    width:100%;
    height: 21.5rem;
    background-color: var(--white);
    border-radius:.8rem;
}

.best-pick-body{
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.best-pick-img{
    width: 100%;
    height: 45%;
    background-color: var(--black);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

.best-pick-heart{
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--white);
    align-self: flex-end;
}

.best-pick-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.best-pick-shop{
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.best-pick-footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.best-pick-footer h3{
    font-size:1.4rem;
}

.best-pick-rating{
    display: flex;
    align-items: center;
    justify-self: end;
    gap:.5rem;
}

.theme-day-title{
    margin-top: 3.5rem;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
}

.top-places-title{
    margin-top: 3.5rem;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
}

.top-places-frame{
    margin-top:1.0rem;
    padding: .0rem 2.5rem 1rem .0rem;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    gap:2.0rem;
    /* padding-bottom: 6.0rem; */
    padding-left: 0rem;;
}

.top-places-card{
    background-color: var(--white);
    border-radius: .8rem;
    width:100%;
    height:21.0rem;
    overflow: hidden;
    box-shadow: var(--ds3);
}

.top-places-card-img{
    height:70%;
    width:auto;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 100%;
    justify-items: end;
    padding: 0.5rem;
}

.top-places-card-heart{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:40px;
    border-radius:20px;
    background-color: var(--white);
}

.top-places-card-body{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 60% 40%;
    height: 30%;
    align-items: center;
    padding:.5rem;
}

.top-places-card-body h2{
    font-family: Poppins;
    font-weight:700;
    font-size: 16px;
    color:var(--primary);
}

.top-places-card-body-rating{
    display: flex;
    align-items: center;
    justify-self: end;
    gap:.5rem;
}

.top-places-card-body h4{
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
}

.top-places-card-body h4:nth-child(even){
    justify-self: end;
}

.top-places-card-body h3{
    font-size: 14px;
}





/* Top Cuisines media queries */

/* Mobile L */
@media screen and (min-width: 425px){
    .top-cuisines-frame{
        grid-auto-columns:19%;
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .top-cuisines-frame{
        grid-auto-columns:17%;
    }
}

/* Laptop */
@media screen and (min-width: 1024px){
    .top-cuisines-frame{
        grid-auto-columns:15%;
    }
}


/* Top Places media queries */

/* Mobile L */
@media screen and (min-width: 425px){
    .top-places-frame{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .top-places-frame{
        grid-template-columns: repeat(3,1fr);
    }
}

/* Laptop */
@media screen and (min-width: 1024px){
    .top-places-frame{
        grid-template-columns: repeat(4,1fr);
    }
}

.lower-nav-ul{
    background-color: var(--primary);
    /* z-index: 2; */
}

.lower-nav-ul li,.lowernav-ul-p{
    color:var(--white);
}

.lowernav-home-svg{
    stroke:var(--white);
}

.lowernav-home-svg:hover{
    fill:var(--white);
    stroke:var(--white);
}

.lower-nav-ul.scrolled{
    background-color: var(--neutral);
    transition: background-color 200ms linear;
}

.lowernav-ul-p.scrolled{
    color:var(--primary);
}

.lowernav-home-svg.scrolled{
    stroke: var(--icon-grey);
    transition: stroke 200ms linear;    
}

.lowernav-home-svg.scrolled:hover{
    stroke: var(--primary);
    fill: var(--primary);
    filter: drop-shadow(.0rem .6rem 2.0rem rgba(215, 56, 0, 0.9));
}

/* Active State Code */

#home p.lowernav-ul-p__hide{
  display:block;
  text-align: center;
  font-family: Poppins;
  font-size:1.2rem; 
  color:var(--white);   
}

#home p.lowernav-ul-p__hide.scrolled{
    color:var(--primary);
}

#home svg.lowernav-home-svg{
    fill:var(--white);
    stroke:var(--white);
}

#home svg.lowernav-home-svg.scrolled{
    stroke: var(--primary);
    fill: var(--primary);
    filter: drop-shadow(.0rem .6rem 2.0rem rgba(215, 56, 0, 0.9));
}

/* For Vector Fill of Search Icon */

#search svg.lowernav-home-svg path{
    fill:var(--white);
}

#search svg.lowernav-home-svg.scrolled path{
    fill: var(--icon-grey);
}