*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size:62.5%; /* 10 px */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    display: none;
}


/* Defining ROOT variables */
:root
{
    --primary:#F54748;
    --neutral:#F5F5F8;
    --white: #FFFFFF;
    --black: #000000;
    --icon-grey:#ADADAF;
    --blue: #166EF3;
    --grey: rgba(0,0,0,0.5);
    --ds_cuisine:.0rem .4rem 1.5rem rgba(0, 0, 0, 0.3);
    --ds3:.0rem 1.0rem 2.0rem rgba(0, 0, 0, 0.06);
}

body{
    background-color: var(--neutral);
    overflow: hidden;
}

input{
    border:none;
}

input:focus{
    outline:none;
}

a,button:hover{
    cursor:pointer;
}

a{
    text-decoration:none;
}

.wrapper{
    overflow-y: auto;
    height:90vh;
    height: calc(var(--vh, 1vh) * 90);
}

.search-bar{
    grid-column: 1/13;
    /* grid-row: 1; */
    width: 100%;
    min-height: 54px;
    background-color:var(--white);
    border-radius: 3.0rem;
    padding:0 1.8rem 0 1.8rem;
}

.search-bar ul{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;    
    list-style: none;
    height: 100%;
}

.search-bar li:last-child{
    justify-self: end;
}

.search-bar li input[type=text]{
    font-family: Poppins;
    font-size:1.6rem;
    width:100%
}

.lower-nav-ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    list-style: none;
    justify-items: center;
    position: fixed;
    bottom: 0;  
    width: 100vw;
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10);
    background-color: var(--neutral);
}

.lower-nav-ul li,.lowernav-ul-p{
    text-align: center;
    font-family: Poppins;
    font-size:1.2rem;
    color:var(--primary);
}
p.lowernav-ul-p{
    display:block;
}

.lowernav-ul-p__hide{
    display: none;
}
.lowernav-home-svg{
    stroke:var(--icon-grey);
}

.lowernav-home-svg:hover{
    fill:var(--primary);
    stroke:var(--primary);
    filter: drop-shadow(.0rem .6rem 2.0rem rgba(215, 56, 0, 0.9));
}

/* Laptop */
/* @media screen and (min-width: 1024px){
    .wrapper {
        margin: 0 auto;
        max-width: 80%;
    }
} */