*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
    padding:25px;
}

/* Defining ROOT variables */
:root
{
    --primary:#F54748;
    --neutral:#F5F5F8;
    --white: #FFFFFF;
    --black: #000000;
    --icon-grey:#ADADAF;
    --blue: #166EF3;
}

.wrapper {
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(48,1fr);
}

.search-bar  ul{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 300px;
    height: 54px;
    align-items: center;
    background-color:var(--white);
    border-radius: 30px;
    list-style: none;
}

.search-bar ul:nth-child(1){
    grid-column: 2;
}
.search-bar ul:nth-child(2){
    grid-column: 4/7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.search-bar ul:nth-child(3){
    grid-column: 11;
}

.lower-nav ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    list-style: none;
}