*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size:62.5%; /* 10 px */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    display: none;
}


/* Defining ROOT variables */
:root
{
    --primary:#964B00;
    --accent: #FFD5AA;
    --heart: #F54748;
    --neutral:#F5F5F8;
    --white: #FFFFFF;
    --black: #000000;
    --icon-grey:#ADADAF;
    --blue: #166EF3;
    --grey: rgba(0,0,0,0.5);

    /* Star rating */
    --star1: #DA0000;
    --star2: #F62;
    --star3: #E9B501;
    --star4: #00DA16;
    --star5: #24963F;

    /* --ds_cuisine:.0rem .4rem 1.5rem rgba(0, 0, 0, 0.3); */
    --ds_cuisine: .0rem .4rem 1.5rem rgb(198 198 198);
    --ds3:.0rem 1.0rem 2.0rem rgba(0, 0, 0, 0.06);
    --ds_icon: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    --ds_nav__active: .0rem .6rem 2.0rem rgba(255, 213, 170, 1);
    --ds_prod_card: 0px 10px 20px #e4e4e4;
    --ds_shop_pic: 7px 7px 14px #e4e4e4;
}

body{
    background-color: var(--neutral);
    overflow: hidden;
}

input{
    border:none;
}

input:focus{
    outline:none;
}

a,button:hover{
    cursor:pointer;
}

a{
    text-decoration:none;
    color: currentColor;
}

ul{
    list-style: none;
}

img.object-fit{
    object-fit:cover;
}

.wrapper{
    overflow-y: auto;
    height:90vh;
    height: calc(var(--vh, 1vh) * 90);
}

.search-bar{
    grid-column: 1/13;
    /* grid-row: 1; */
    width: 100%;
    min-height: 54px;
    background-color:var(--white);
    border-radius: 3.0rem;
    padding:0 1.8rem 0 1.8rem;
    position: relative;
}

.search-bar ul{
    display: grid;
    /* grid-template-columns: 1fr 4fr 1fr; */
    align-items: center;    
    list-style: none;
    height: 100%;
}

.search-bar li:last-child{
    justify-self: end;
}

.search-bar li input[type=text]{
    font-family: Poppins;
    font-size:1.6rem;
    width:100%;
    padding: 0 5rem;
    border-radius: 100px;
}

.lower-nav-ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    list-style: none;
    justify-items: center;
    position: fixed;
    bottom: 0;  
    width: 100vw;
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10.1);
    background-color: var(--neutral);
}

.lower-nav-ul li,.lowernav-ul-p{
    text-align: center;
    font-family: Poppins;
    font-size:1.2rem;
    color:var(--primary);
}
p.lowernav-ul-p{
    display:block;
}

.lowernav-ul-p__hide{
    display: none;
}
.lowernav-home-svg{
    stroke:var(--icon-grey);
}

.lowernav-home-svg:hover{
    fill:var(--primary);
    stroke:var(--primary);
    filter: drop-shadow(var(--ds_nav__active));
}

/* Laptop */
/* @media screen and (min-width: 1024px){
    .wrapper {
        margin: 0 auto;
        max-width: 80%;
    }
} */

.errorlist{
    list-style: none;
    color: red;
    padding-top: 1rem;
    text-align: end;
}

.errorlist li, .errorlist p{
    font-family: Poppins;
    font-size: 1.4rem;
}

.login-required-wrapper{
    visibility:hidden;
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height:auto;
    position: absolute;
    z-index:5;
    right: 0;
    bottom:10vh;
}

.login-required-wrapper.active{
    visibility: visible;
    animation: login-animate 3s ease-out forwards;
}

@keyframes login-animate {
    0% {
        opacity:1;
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.login-required{
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:28rem;
    height:5rem;
    border-radius: .8rem;
    background: rgba(0, 0, 0, 0.7);
}

.login-required>*{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color:var(--white);
}

.non-heart{
    fill: none;
}

.heart{
    fill: var(--heart);
}

#search-btn{
    background-color: transparent;
    border: none;
}

#search-field{
    font-family: Poppins;
    font-size:1.6rem;
    width:100%;
    height: 100%;
    min-height: 5.4rem;
}

.ui-menu-item>div{
    font-family: Poppins;
    font-size:1.6rem;
    width:100%
}

/* .ui-menu .ui-menu-item:hover{
    background-color: var(--accent);
} */

ul.ui-widget.ui-widget-content{
    border: none;
    border-radius: 0.8rem;
    box-shadow: var(--ds3);
    padding: 1rem;
    max-height: 80vh;
    overflow: auto;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 10px 1em 10px 0.4em;
}

.searchdd-ele{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
}

.searchdd-img{
    height: 5rem;
    width: 5rem;
    border-radius:0.8rem;
    background-color: var(--accent);
}

.searchdd-name{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* color: var(--black); */
}

.searchdd-addr{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--grey);
}