{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock style %}

{% block title %}Account{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div>
        <div class="profile-wrapper profile-wrapper-noedit">
            <div class="profile-top">
                <h1>Personal Details</h1>
                <button id="no-user-edit">Edit</button>
            </div>
            <div class="profile-info">
                <img src="{{user.profile_pic.url}}" alt="" class="object-fit">
                <div>
                    <h2>{{user.name}}</h2>
                    <h3>{{user.email}}</h3>
                    <p></p>
                </div>
            </div>
            {% if form.name.errors or form.email.errors %}
                <div style="grid-column:1/13;" class="errorlist">
                    <p>Failed to update personal details</p>
                </div>
            {% endif %}

            
            <a href="{% url 'account:logout' %}" class="logout-wrapper">
                <h2>Logout</h2>
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.08341 2.5H15.4167V10.6667H17.0834V2.5C17.0834 2.05798 16.9078 1.63405 16.5953 1.32149C16.2827 1.00893 15.8588 0.833336 15.4167 0.833336H2.08341C1.64139 0.833336 1.21746 1.00893 0.904903 1.32149C0.592343 1.63405 0.416748 2.05798 0.416748 2.5V22.5C0.416748 22.942 0.592343 23.366 0.904903 23.6785C1.21746 23.9911 1.64139 24.1667 2.08341 24.1667H15.4167C15.8588 24.1667 16.2827 23.9911 16.5953 23.6785C16.9078 23.366 17.0834 22.942 17.0834 22.5H2.08341V2.5Z" fill="black"/>
                        <path d="M19.7166 11.9001C19.5572 11.7635 19.3522 11.6922 19.1424 11.7003C18.9327 11.7084 18.7338 11.7953 18.5853 11.9437C18.4369 12.0922 18.35 12.2911 18.3419 12.5008C18.3338 12.7106 18.4051 12.9156 18.5416 13.075L21.3583 15.8334H9.27498C9.05397 15.8334 8.84201 15.9212 8.68573 16.0775C8.52945 16.2337 8.44165 16.4457 8.44165 16.6667C8.44165 16.8877 8.52945 17.0997 8.68573 17.256C8.84201 17.4123 9.05397 17.5 9.27498 17.5H21.3583L18.5416 20.3834C18.4544 20.4581 18.3836 20.55 18.3335 20.6534C18.2835 20.7568 18.2554 20.8694 18.251 20.9842C18.2466 21.0989 18.2659 21.2134 18.3078 21.3203C18.3497 21.4273 18.4132 21.5244 18.4944 21.6056C18.5757 21.6868 18.6728 21.7503 18.7797 21.7922C18.8867 21.8341 19.0011 21.8535 19.1159 21.849C19.2306 21.8446 19.3432 21.8165 19.4466 21.7665C19.55 21.7165 19.6419 21.6456 19.7166 21.5584L24.5833 16.725L19.7166 11.9001Z" fill="black"/>
                </svg>
            </a>
            
        </div>
        
        <div class="profile-wrapper profile-wrapper-edit hidden">
            <div class="profile-top">
                <h1>Personal Details</h1>
                <button id="yes-user-edit">
                    <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3334 4.16669L4.66675 20.8334M21.3334 20.8334L4.66675 4.16669L21.3334 20.8334Z" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    </svg>                        
                </button>
            </div>
            <form name="accountUpdationForm" method="post" action="{% url 'account:account' %}" class="profile-info__edit" enctype="multipart/form-data">
                <div>
                    <img id="dp" src="{{request.user.profile_pic.url}}" class="object-fit">
                    <label class="profile-img__change" for="change_pic">Change</label>
                    {% for field in form.profile_pic %}
                        {{field}}
                        <!-- <input id="change_pic" type="file" style="display:none" onchange="document.getElementById('dp').src = window.URL.createObjectURL(this.files[0])"> -->
                    {% endfor %}
                </div>
                {% csrf_token %}
                <div>
                    <label for="">{{form.name.label}}</label>
                    {{form.name}}<br>
                </div>
                {% if form.name.errors %}
                    <span style="justify-self:end;padding-right:1.5rem;">{{form.name.errors}}</span>
                {% endif %}

                <div>
                    <label for="">{{form.email.label}}</label>
                    {{form.email}}<br>
                </div>
                {% if form.email.errors %}
                    <span style="justify-self:end;padding-right:1.5rem;">{{form.email.errors}}</span>
                {% endif %}

                <!-- <div><label for="">Name: </label><input type="text" value="{{user.name}}" onfocus="input_focus()" onblur="input_blur()"></div>
                <div><label for="">Email: </label><input type="email" value="{{user.email}}" onfocus="input_focus()" onblur="input_blur()"></div> -->
                <button type="submit">Save</button>
            </form>
            <a href="{% url 'account:logout' %}" class="logout-wrapper">
                <h2>Logout</h2>
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.08341 2.5H15.4167V10.6667H17.0834V2.5C17.0834 2.05798 16.9078 1.63405 16.5953 1.32149C16.2827 1.00893 15.8588 0.833336 15.4167 0.833336H2.08341C1.64139 0.833336 1.21746 1.00893 0.904903 1.32149C0.592343 1.63405 0.416748 2.05798 0.416748 2.5V22.5C0.416748 22.942 0.592343 23.366 0.904903 23.6785C1.21746 23.9911 1.64139 24.1667 2.08341 24.1667H15.4167C15.8588 24.1667 16.2827 23.9911 16.5953 23.6785C16.9078 23.366 17.0834 22.942 17.0834 22.5H2.08341V2.5Z" fill="black"/>
                        <path d="M19.7166 11.9001C19.5572 11.7635 19.3522 11.6922 19.1424 11.7003C18.9327 11.7084 18.7338 11.7953 18.5853 11.9437C18.4369 12.0922 18.35 12.2911 18.3419 12.5008C18.3338 12.7106 18.4051 12.9156 18.5416 13.075L21.3583 15.8334H9.27498C9.05397 15.8334 8.84201 15.9212 8.68573 16.0775C8.52945 16.2337 8.44165 16.4457 8.44165 16.6667C8.44165 16.8877 8.52945 17.0997 8.68573 17.256C8.84201 17.4123 9.05397 17.5 9.27498 17.5H21.3583L18.5416 20.3834C18.4544 20.4581 18.3836 20.55 18.3335 20.6534C18.2835 20.7568 18.2554 20.8694 18.251 20.9842C18.2466 21.0989 18.2659 21.2134 18.3078 21.3203C18.3497 21.4273 18.4132 21.5244 18.4944 21.6056C18.5757 21.6868 18.6728 21.7503 18.7797 21.7922C18.8867 21.8341 19.0011 21.8535 19.1159 21.849C19.2306 21.8446 19.3432 21.8165 19.4466 21.7665C19.55 21.7165 19.6419 21.6456 19.7166 21.5584L24.5833 16.725L19.7166 11.9001Z" fill="black"/>
                </svg>
            </a>
        </div>

    </div>

    {% else %}

    <div class="login-wrapper" ng-init="acc='login'">
        <div class="login-header">
            <div class="logo">
                <img src="{% static 'svg/streetsnax.svg' %}" width="100%" height="100%">
            </div>

            <div class="login-nav" ng-click="switcher()">
                <p>Login</p>
                <div class="nav-line" ng-class= loginCol></div>
            </div>

            <div class="signup-nav" ng-click="switcher()">
                <p>Sign-up</p>
                <div class="nav-line" ng-class = signupCol></div>
            </div>
        </div>

        <div ng-switch="acc" class="switcher">
            <div class="login-form" ng-switch-default="login">
                <div class="login-illustration">
                    <img src="{% static 'svg/signup-illustration.svg' %}" width="100%" height="100%">
                        
                </div>

                <div class="login-vendor-user">
                    <a href="{% url 'account:login' 1 %}"><div class="login-as-vendor"><p>Vendor</p></div></a>
                    <h2>or</h2>
                    <a href="{% url 'account:login' 0 %}"><div class="login-as-user"><p>User</p></div></a>
                </div>

                <div class="new-here">
                    <p>New here? <span ng-click="switcher()" style="color:var(--primary)">Sign-up</span> now!</p>
                </div>
            </div>

            <div class="login-form" ng-switch-when="signup">
                <div class="login-illustration">
                    <img src="{% static 'svg/login-illustration.svg' %}" width="100%" height="100%">
                        
                </div>

                <div class="login-vendor-user">
                    <a href="{% url 'account:signup' 1 %}"><div class="login-as-vendor"><p>Vendor</p></div></a>
                    <h2>or</h2>
                    <a href="{% url 'account:signup' 0 %}"><div class="login-as-user"><p>User</p></div></a>
                </div>

                <div class="new-here">
                    <p>Already a Member? <span ng-click="switcher()" style="color:var(--primary)">Login</span></p>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            let init_vh = window.innerHeight * 0.01;

            user_that = $(".profile-info")
            user_form_that = $(".profile-info__edit")
            user_src = user_that.find('img').attr('src')
            if(user_src == '/media/default-user.svg')
            {
                user_name = user_that.find('h2').text()
                user_initial = user_name.charAt(0).toLowerCase()
                defaultColors(user_that,user_initial)
                defaultColors(user_form_that,user_initial)
            }

            $("#no-user-edit").click(function(){
                $(".profile-wrapper-noedit").addClass("hidden");
                $(".profile-wrapper-edit").removeClass("hidden")
            })

            $("#yes-user-edit").click(function(){
                $(".profile-wrapper-edit").addClass("hidden");
                $(".profile-wrapper-noedit").removeClass("hidden")
            })

            function input_focus()
            {
                $(".profile-wrapper").css({'min-height':init_vh*90+'px'});
                $(".lower-nav-ul").css({'display': 'none'});
                $(".wrapper").css({'height':'calc(var(--vh, 1vh) * 100)'});
            }

            function input_blur()
            {
                $(".profile-wrapper").css({'min-height':'auto'});
                $(".lower-nav-ul").css({'display': 'grid'});
                $(".wrapper").css({'height':'calc(var(--vh, 1vh) * 90)'});
            }
        });

    </script>
{% endblock javascript %}