{% extends "base.html" %}

{% block content%}
{% load static %}

    <div class="login-wrapper" ng-init="acc='login'">
        <div class="login-header">
            <div class="logo">
                <img src="{% static 'streetsnax.svg' %}" width="100%" height="100%">
            </div>

            <div class="login-nav">
                <p ng-click="acc='login'">Login</p>
                <div class="nav-line"></div>
            </div>

            <div class="signup-nav">
                <p ng-click="acc='signup'">Sign-up</p>
                <div class="nav-line"></div>
            </div>
        </div>

        <div ng-switch="acc" class="switcher">
            <div class="login-form" ng-switch-default="login">
                <div class="login-illustration">
                    <img src="{% static 'login-illustration.svg' %}" width="100%" height="100%">
                </div>

                <div class="login-vendor-user">
                    <a href="{% url 'account:login' %}?as=vendor"><div class="login-as-vendor"><p>Vendor</p></div></a>
                    <h2>or</h2>
                    <a href="{% url 'account:login' %}?as=user"><div class="login-as-user"><p>User</p></div></a>
                </div>

                <div class="new-here">
                    <p>New here? <span ng-click="switcher()" style="color:var(--primary)">Sign-up</span> now!</p>
                </div>
            </div>

            <div class="login-form" ng-switch-when="signup">
                <div class="login-illustration">
                    <img src="{% static 'signup-illustration.svg' %}" width="100%" height="100%">
                </div>

                <div class="login-vendor-user">
                    <a href="{% url 'account:signup' %}?as=vendor"><div class="login-as-vendor"><p>Vendor</p></div></a>
                    <h2>or</h2>
                    <a href="{% url 'account:signup' %}?as=user"><div class="login-as-user"><p>User</p></div></a>
                </div>

                <div class="new-here">
                    <p>Already a Member? <span ng-click="switcher()" style="color:var(--primary)">Login</span></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.title = "Account"
    </script>
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}