{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock style %}

{% block title %}Signup{% endblock title %}

{% block content%}

<div class="signup-wrapper">
    <div class="signup-header">
        <div class="logo">
            <img src="{% static 'svg/account-page-logo.svg' %}" width="100%" height="100%">
        </div>
    </div>

    <div class="signup-body">
        <div class="signup-title">
            <a href="javascript:history.back()">
                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8637 24.5417C17.6707 24.5423 17.4801 24.4997 17.3057 24.417C17.1314 24.3343 16.9778 24.2136 16.8562 24.0638L10.6174 16.3138C10.4275 16.0826 10.3236 15.7927 10.3236 15.4936C10.3236 15.1944 10.4275 14.9045 10.6174 14.6733L17.0758 6.92334C17.295 6.65956 17.6101 6.49368 17.9516 6.46219C18.2932 6.4307 18.6332 6.53618 18.897 6.75543C19.1608 6.97467 19.3267 7.28972 19.3582 7.63128C19.3897 7.97283 19.2842 8.3129 19.0649 8.57668L13.2912 15.5L18.8712 22.4233C19.0291 22.6129 19.1295 22.8438 19.1603 23.0886C19.1912 23.3335 19.1512 23.582 19.0452 23.8049C18.9393 24.0277 18.7716 24.2155 18.5623 24.3461C18.3529 24.4767 18.1104 24.5446 17.8637 24.5417Z" fill="black"/>
                </svg>
            </a>
            <p>Register</p>
        </div>

        <div class="signup-form">
            <form name="regform" class="client-validation" id="signup-form" method="POST" action="{% url 'account:signup' signup_as %}">
                {% csrf_token %}
                    {{form.name}}
                    <span ng-show="regform.$submitted || regform.name.$touched && regform.name.$error.required" ng-cloak>This field is required</span>
                    {{form.email}}
                    <span ng-show="regform.$submitted || regform.email.$error.pattern" ng-cloak>Enter a valid email address</span>
                    <span ng-show="regform.$submitted || regform.email.$touched && regform.email.$error.required" ng-cloak>This field is required</span>
                    {{form.password}}
                    <span ng-show="regform.$submitted || regform.password.$error.minlength" ng-cloak>Password must be atleast 8 characters</span>
                    <span ng-show="regform.$submitted || regform.password.$touched && regform.password.$error.required" ng-cloak>This field is required</span>
                <!-- <input type="text" name="" placeholder="Full name">
                <input type="email" name="" placeholder="Email ID">
                <input type="password" name="" placeholder="Choose a password"> -->
                <!-- <input type="hidden" name="as" value="{{signup_as}}"> -->
                
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color:red; font-size: 1.2rem; text-align: end;">{{error}}</p>
                    {% endfor %}
                {% endfor %}
            </form>

            <div class="signup-buttons">
                <button type="submit" ng-disabled="regform.$invalid" form="signup-form">Sign Up</button>
                <!-- <p>or</p>
                <button type="submit" form="signup-form" style="background-color: var(--accent);color:var(--black)">Sign Up with Google</button> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}