{% extends "base.html" %}

{% block content %}
{% load static %}
    <div class="homepage-one">
        {% include "search-component.html" %}
        <div class="logo">
            <img src="{% static 'new-logo.png' %}" width="100%" height="auto">
        </div>

        <div class="home-momos">
            <img src="{% static 'momos.png' %}" width="100%" height="auto">
        </div>

        <div class="home-panipuri">
            <img src="{% static 'panipuri.png' %}" width="100%" height="auto">
        </div>

        <div class="home-samosa">
            <img src="{% static 'samosa.png' %}" width="100%" height="auto">
        </div>
        
        <div class="home-vadapav">
            <img src="{% static 'vadapav.png' %}" width="100%" height="auto">
        </div>

        <div class="home-dosa">
            <img src="{% static 'dosa.png' %}" width="100%" height="auto">
        </div>

        <div class="tagline" style='color:var(--white)'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>

        <div class="down-arrow">
            <a href="#homepage-2">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.1716 6.66167C20.0637 6.55351 19.9355 6.46771 19.7944 6.40916C19.6532 6.35062 19.5019 6.32048 19.3491 6.32048C19.1963 6.32048 19.045 6.35062 18.9039 6.40916C18.7628 6.46771 18.6346 6.55351 18.5266 6.66167L14 11.1767L9.46164 6.65C9.35363 6.54199 9.2254 6.45631 9.08428 6.39785C8.94315 6.3394 8.7919 6.30931 8.63914 6.30931C8.48639 6.30931 8.33513 6.3394 8.19401 6.39785C8.05288 6.45631 7.92465 6.54199 7.81664 6.65C7.70863 6.75801 7.62295 6.88624 7.56449 7.02737C7.50604 7.16849 7.47595 7.31975 7.47595 7.4725C7.47595 7.62525 7.50604 7.77651 7.56449 7.91764C7.62295 8.05876 7.70863 8.18699 7.81664 8.295L13.1716 13.65C13.6266 14.105 14.3616 14.105 14.8166 13.65L20.1716 8.295C20.2797 8.18822 20.3655 8.06106 20.4241 7.92087C20.4827 7.78068 20.5128 7.63026 20.5128 7.47833C20.5128 7.32641 20.4827 7.17599 20.4241 7.0358C20.3655 6.89561 20.2797 6.76844 20.1716 6.66167Z" fill="white"/>
                <path d="M20.1717 14.35C20.0638 14.2418 19.9356 14.156 19.7944 14.0975C19.6533 14.039 19.502 14.0088 19.3492 14.0088C19.1964 14.0088 19.0451 14.039 18.904 14.0975C18.7628 14.156 18.6346 14.2418 18.5267 14.35L14 18.865L9.47336 14.3383C9.25522 14.1202 8.95936 13.9976 8.65086 13.9976C8.34236 13.9976 8.0465 14.1202 7.82836 14.3383C7.61022 14.5565 7.48767 14.8523 7.48767 15.1608C7.48767 15.4693 7.61022 15.7652 7.82836 15.9833L13.1834 21.3383C13.6384 21.7933 14.3734 21.7933 14.8284 21.3383L20.1834 15.9833C20.3975 15.7647 20.5165 15.4703 20.5143 15.1643C20.5122 14.8582 20.389 14.5655 20.1717 14.35V14.35Z" fill="white"/>
            </svg>
            </a>
        </div>
    </div>

    <div id="homepage-2" class="homepage-two">
        <div class="top-cuisines-title">
            Top Cuisines
        </div>

        <div class="top-cuisines-frame">
            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>

            <div class="top-cuisines">

                <div class="top-cuisines-image">
                    <img src="" width=100% height=auto>
                </div>
                <div class="top-cuisines-descr">
                    Lorem Ipsum
                </div>

            </div>
        </div>

        <div class="top-places-title">
            Top Places
        </div>

        <div class="top-places-frame">
            <div class="top-places-card">
                <div class="top-places-card-img"></div>
                <div class="top-places-card-body">
                    <h2>Sudama Bhel</h2>
                    <h3>4.0</h3>
                    <h4>Maharashtrian, Bhel, Pani-Puri</h4>
                    <h4>8:00 AM - 10:00 PM</h4>
                </div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>

            <div class="top-places-card">
                <div class="top-places-card-img"></div>
            </div>
        </div>
    </div>
{% endblock %}